.stacks {
    display: flex;
    gap: 1em;
    position: absolute;
    bottom: 1em;
    left: 1em;
}

.stacks .stack {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 0.1em;
    min-width: 3em;
    border: 1px solid #ccc;
    border-top-width: 0;
}

.stacks .stack .crate {
    background-color: antiquewhite;
    width: 100%;
    text-align: center;
}

.status {
    position: absolute;
    bottom: 1em;
    right: 1em;
}
