name: AoC 2022
on: [ push, pull_request, workflow_dispatch ]
jobs:
  Test-And-Execute:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-java@v3
        with:
          distribution: 'temurin'
          java-version: '11'
          cache: 'maven'
      - name: Build and Test
        run: ./mvnw -B package
      - name: Run Solvers
        run: bash ./run_all.sh
